html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Navbar stays normal, content grows to fill space */
.container.main-content {
  flex: 1;
}

footer {
  background-color: hsl(200, 33%, 98%);
  color: #0a0a0a;
  text-align: center;
  padding: 15px 0;
}
