.portfolio-img {
  width: 1000px;
  height: 500px;
  margin-top: 16px;
}
.custom-header {
  max-width: 1500px;
}

h5 {
  white-space: nowrap;
}

.div1 {
  bottom: -16px;
}

.portfolio-img {
  width: 100%; /* full width of .w3-content */
  height: auto; 
  margin-top: 16px; /* spacing between images */
  display: block; 
}

.content-width {
  max-width: 980px; /* match all sections */
  width: 100%;
  margin: 0 auto; /* center horizontally */
}

#contact {
  max-width: 935px;   /* same as .w3-content default */
  width: 100%;        /* fill container */
  margin: 16px auto 0; 
  padding: 16px;     
  box-sizing: border-box; 
}

