.cart-img {
  width: 100%; /* fill card width */
  height: auto;
  aspect-ratio: 3/4;
  object-fit: cover; /* crop image nicely */
  border-radius: 5px; /* optional rounded corners */
  margin-bottom: 0.75rem; /* spacing below image */
}

.h5 {
  color: #c9d1d9;
}

